Package: ligionbob.messageflood
Name: MessageFlood
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: iFlooder fix, plus a message limit.
Maintainer: Collin Dickert
Author: Collin Dickert
Section: Tweaks
Version: 1.0.3-3+debug
Installed-Size: 100
